.informacao {
    display: flex;
    width: 70%;
    /* border: 1px solid black; */

}

.informacao div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
    text-align: left;
    font-size: 13px;
}

.informacao img {
    width: 80%;
}
.informacao h3 {
    margin-top: -5px;
    margin-bottom: -15px;
}

.conteudo-informacao {
    border-right: 2px solid rgb(173, 173, 173);
}

.direita {
    flex-direction: row-reverse;

}

.direita .conteudo-informacao {
    border-right: none;
    border-left: 2px solid rgb(173, 173, 173);
    align-items: end;
}