@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #F4AF27;
    display: flex;
    justify-content: center;
    height: 80px;
    padding: 10px;
}

header img {
    width: 220px;
    height: 60px;
}

.banner-section {
    background-color: #F4AF27;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner div {
    width: 50%;
    padding-left: 10%;
    
}

.subtitulo-banner-text {
    color: white;
    font-weight: 400;
    font-size: normal;
}

.titulo-banner-text-destaque {
    color: #F4AF27;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: white;
    padding: 0 4px;
}
.titulo-banner-text {
    color: white;
    font-size:30px;
    text-transform: uppercase;
    font-weight: 500;
}

.paragrafo-banner-text {
    font-size: 15px;
    color: white;
    font-weight: lighter;
    padding-bottom: 15px;
}

.button-banner-text {
    width: 55%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: #767676;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.modelo-banner {
    width: 100%;
}

.titulo-abaixo-banner {
    color: white;
    text-transform: uppercase;
    height: 80px;
    display: flex;
    align-items: center;
}
.titulo-abaixo-banner h2{
    font-weight: 400;
}

.timeline-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    background: #EFEFEF;

}

.paragrafo-timeline {
    font-size: 14px;
    text-align: center;
    padding-bottom: 30px;
}

.subtitulo-subtitulo-timeline {
    text-transform: uppercase;
    height: 80px;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.subtitulo-subtitulo-timeline strong {
    padding-right: 3px;
    padding-left: 3px;
}

.item-timeline {
    display: flex;
}

.item-timeline div{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
}


.conteudo-item-timeline {
    border-right: 2px solid #767676;
}

.direita {
    border-right: none;
    border-left: 2px solid #767676;
    align-items: end;
}

.conteudo-item-timeline img {
    width: 70%;
    padding-bottom: 10px;
}
.conteudo-item-timeline h3 {
    font-size: 16px;
}
.conteudo-item-timeline p {
    font-size: 13px;
    width: 90%;
}

.conteudo-item-timeline a{
    width: 100%;
    padding-top: 10px;
}
.conteudo-item-timeline a button {
    width: 40%;
    height: 40px;
    background-color: #F4AF27;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.direita p {
    text-align: right;
}
.direita a {
    text-align: right;
}

.botao-principal-timeline {
    padding-top: 20px;
}

.botao-principal-timeline a {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-bottom: 30px;
}

.botao-principal-timeline a button{
    width: 50%;
    height: 40px;
    background-color: #F4AF27;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}

.comentarios-section {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #EFEFEF;
}

.comentarios {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
}

.comentarios img {
    width: 100%;
}









