header {
    width: 100%;
}

section {
    background-color: #f4af27;
    /* -webkit-clip-path: polygon(0% 0%, 100% 0%, 99% 75%, 60% 75%, 50% 88%, 40% 76%, 0 75%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 52% 75%, 50% 85%, 48% 75%, 0 75%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    padding: 8px;
    width: 250px;
}